public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@sentry/*
public-hoist-pattern[]=nativewind
public-hoist-pattern[]=react-native-css-interop
public-hoist-pattern[]=react-native-worklets
